.editor { 
    background-color: rgb(250, 250, 250);
    height: 200px;
    overflow: hidden;
    padding: 10px;
}


.post-form {
    padding: 10px;
}

.editor-wrapper {
    width: auto;
}

/* forms */
form input, form textarea, form select {
  width: 100%;
  display: block;
  border: solid 1px #dde;
  padding: .5em;
}
form input:after, form textarea:after, form select:after {
  content: "";
  display: table;
  clear: both;
}
form input[type=checkbox], form input[type=radio] {
  display: inline;
}
form label, form legend {
  display: block;
  margin: 1em 0 .5em;
}

form input[type=submit] {
  background: turquoise;
  border: none;
  border-bottom: solid 4px #21ccbb;
  padding: .7em 3em;
  margin: 1em 0;
  color: white;
  text-shadow: 0 -1px 0 #21ccbb;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;
}
.dltBtn{
    background-color: red !important;
    margin-left: 15px !important;
    color: white !important
}



form input[type=submit]:hover {
  background: khaki;
  border: none;
  border-bottom: solid 4px #eadc5f;
  padding: .7em 3em;
  margin: 1em 0;
  color: black;
  text-shadow: 0 -1px 0 #eadc5f;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -ms-border-radius: .5em;
  border-radius: .5em;
}
